<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title})}">

<head>
    <title>Login Page</title>
</head>

<body>
    <div id="content">
        <h1>Welcome to Login Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium quas repudiandae 
            animi sunt in qui. Quopariatur vero laborum, non voluptatum corrupti minus, maiores 
            suscipit qui a, est asperiores dolore Lorem ipsum dolor sit amet consectetur, adipisicing el
            it. Sit asperiores corporis accusamus officia velit consectetur rem fuga aliquam sequi similique. 
            Deleniti, optio! Minus quos repellat iusto sapiente hic eum earum..
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed minus, earum quos, nemo asperiores placeat 
            mollitia cupiditate enim iste vero, inventore totam adipisci eius.
             Odit molestiae officiis voluptatibus nihil quas!
        </p>
    </div>
</body>

</html>